<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/common.css"/>
    <style>
        a.btn {
            float: right;
            margin-top: -40px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>학생목록</h1>
    <a href="create" class="btn">학생등록</a>
    <table class="list">
        <thead>
        <tr>
            <th>id</th>
            <th>학번</th>
            <th>이름</th>
            <th>학과</th>
            <th>전화</th>
            <th>성별</th>
            <th>이메일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${ students }">
            <td th:text="${ student.id }"></td>
            <td><a th:text="${ student.studentNo }" th:href="@{edit(id=${student.id})}"></a></td>
            <td th:text="${ student.name }"></td>
            <td th:text="${ student.department.name }"></td>
            <td th:text="${ student.phone }"></td>
            <td th:text="${ student.sex }"></td>
            <td th:text="${ student.email }"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

